<%- include('../partials/header') %>

<!-- Main Landing Page Content -->
<div class="container mt-5">
    <h1>Welcome to Our Application</h1>
    <p>This is a brief introduction to what our app does and why it's awesome.</p>
    <a href="/signup" class="btn btn-primary">Sign Up Now!</a>
</div>

<%- include('../partials/footer') %>
